<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        /* Style tab links */
        .tablink {
        background-color: rgb(202, 200, 200);
        color: black;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 33.33%;
        }

        .tablink:hover {
        background-color: rgb(173, 173, 173);
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
        }

        #requested {background-color: rgba(211, 211, 211, 0.199);}
        #planned {background-color: rgba(211, 211, 211, 0.199);}
        #completed {background-color: rgba(211, 211, 211, 0.199);}
        
        body {
            background-color: white;
        }

        label {
            font-size: 2rem;
            margin-left: 30px;
            color: rgb(34, 34, 34);
        }

        table {
            width: 95%;
            margin-right: 30px;
            margin-left: 30px;
            border-collapse: collapse;
            background-color: white;
            box-shadow: 0 2px 8px rgba(0, 123, 181, 0.2);
        }

        td {
            padding: 5px;
            text-align: center;
        }

        tr:nth-child(even) td {
            background-color: #e3f3fb;
        }

        th{
            padding: 8px;
            text-align: center;
        }

        thead {
            background-color: #169282ea;
            color: white;
            text-align: center;
            font-weight: bold;
        }

        button {
            background-color: #169282ea;
            color: white;
            border-radius: 4px !important;
            padding: 8px 12px;
            border: none;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

        button:hover {
            background-color: #0c7466ea;
            transform: scale(1.05);
        }

        button:active {
            background-color: #0c7466ea;
        }

        .pagination {
            text-align: center;
            margin: 20px 0;
        }

        .pagination a {
            color: #0c7466ea;
            text-decoration: none;
            margin: 10px 30px;
            padding: 8px 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .pagination a:hover {
            background-color: #0c7466ea;
        }

        .pagination .active {
            background-color: #0c7466ea;
            color: white;
            border-color: #0c7466ea;
        }

        .search-container {
            max-width: 600px;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: 2px solid #ddd;
            border-radius: 4px !important;
            padding: 7px;
            box-shadow: 0 4px 6px rgba(0, 123, 181, 0.2);
            position: absolute;
            top: 70px;
            right: 30px;
        }

        .search-container input {
            flex: 1;
            border: none;
            outline: none;
            padding: 10px;
            font-size: 16px;
        }

        .search-container button {
            background-color: #169282ea;
            color: white;
            border-radius: 4px !important;
            padding: 8px 12px;
            border: none;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

        .search-container button:hover {
            background-color: #0c7466ea;
            transform: scale(1.05);
        }

    </style>
</head>
<body>
     <!-- Navbar -->
     <%- include('partials/navbar', { page: 'eventManagement', security: security }) %>

     <!--Search Bar-->
      <div class="search-container">
          <form action="/searchEvents" method="GET">
              <input type="text" name="query" placeholder="Search Events...">
              <button type="submit">Search</button>
          </form>
      </div>
     <br>
    <h1 style="margin-left: 50px;"><b>Event Management</b></h1>
    <br>


    <button class="tablink" onclick="openPage('requested', this, 'rgba(211, 211, 211, 0.199)')" id="defaultOpen">Requested Events</button>
    <button class="tablink" onclick="openPage('planned', this, 'rgba(211, 211, 211, 0.199)')" >Upcoming Events</button>
    <button class="tablink" onclick="openPage('completed', this, 'rgba(211, 211, 211, 0.199)')">Completed Events</button>

<!-- requested events tab-->
<div id="requested" class="tabcontent">
      <table>
          <thead>
            <tr>
              <th>Event Name</th>
              <th>Event Date</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          
          <tbody>
            <% if (events.length > 0) { %>
              <% events.forEach(row => { %>
                <% if (row.event_status === 'REQUESTED') { %> <!-- Check event_status -->
                  <tr>
                    <input type="hidden" value="event_id">
                    <td><%= row.event_name %></td>
                    <td><%= new Date(row.event_date).toLocaleDateString('en-US') %></td> <!-- Format date -->
                    <td><%= row.host_first_name %></td>
                    <td><%= row.host_last_name%></td> 
                    <td><%= row.host_phone %></td> <!--embeded if statement. if true ?(then) 'yes' :(else) 'no'-->
                    <td><%= row.host_email %></td>
                    <td>
                      <form action="/viewRequestedEvent/<%= row.event_id %>" method="GET" style="display:inline;"> <!--value after the slash is a parameter-->
                        <button class="info" type="submit">View</button>
                      </form>
                    </td>
                    <td>
                      <form action="/editRequestedEvent/<%= row.event_id %>" method="GET" style="display:inline;">
                        <button class="info" type="submit">Edit</button>
                      </form>
                    </td>
                    <td>
                      <form action="/deleteEvent/<%= row.event_id %>" method="POST" style="display:inline;">
                        <button class="info" type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                      </form>
                    </td>
                    <td>
                    <form action="/confirmEvent/<%= row.event_id %>" method="GET" class="unique" style="display:inline;">
                        <button class="info2" type="submit">Confirm</button>
                    </form>
                    </td>
                  </tr>
                  <% } %> <!-- End of event_status condition -->
                <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="7">No data available</td>
                </tr>
              <% } %>
            </tbody>
          </table>
          
        <br>
        <form action="/addRequestedEvent" method="GET" style="margin-left: 30px;">
          <button class="info" type="submit">Add</button>
        </form>
  </div>

<!--planned events tab-->
<div id="planned" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Event Lead</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% if (events.length > 0) { %>
        <% events.forEach(row => { %>
          <% if (row.event_status === 'PLANNED') { %> <!-- Check event_status -->
            <tr>
              <input type="hidden" value="event_id">
              <td><%= row.event_name %></td>
              <td><%= new Date(row.event_date).toLocaleDateString('en-US') %></td> <!-- Format date -->
              <td><%= row.host_first_name %></td>
              <td><%= row.host_last_name%></td> 
              <td><%= row.host_phone %></td> <!--embeded if statement. if true ?(then) 'yes' :(else) 'no'-->
              <td><%= row.host_email %></td> 
              <td><%= row.event_lead %></td>
              <td>
                <form action="/viewPlannedEvent/<%= row.event_id %>" method="GET" style="display:inline;"> <!--value after the slash is a parameter-->
                  <button class="info" type="submit">View</button>
                </form>
              </td>
              <td>
                <form action="/editPlannedEvent/<%= row.event_id %>" method="GET" style="display:inline;">
                  <button class="info" type="submit">Edit</button>
                </form>
              </td>
              <td>
                <form action="/deleteEvent/<%= row.event_id %>" method="POST" style="display:inline;">
                  <button class="info" type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                  </form>
              </td>
              <td>
              <form action="/completeEvent/<%= row.event_id %>" method="GET" class="unique" style="display:inline;">
                  <button class="info2" type="submit">Completed</button>
              </form>
              </td>
            </tr>
            <% } %> <!-- End of event_status condition -->
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="7">No data available</td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <br>
    <form action="/addPlannedEvent" method="GET" style="margin-left: 30px;">
        <button class="info" type="submit">Add</button>
    </form>
    
    </div>
    <div id="Contact" class="tabcontent">
      <h3>Contact</h3>
      <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>

<!--completed events tab-->
<div id="completed" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Attendance</th>
        <th>Pockets</th>
        <th>Collars</th>
        <th>Envelopes</th>
        <th>Vests</th>
        <th>Completed Vests</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% if (events.length > 0) { %>
        <% events.forEach(row => { %>
          <% if (row.event_status === 'COMPLETED') { %> <!-- Check event_status -->
            <tr>
              <input type="hidden" value="event_id">
              <td><%= row.event_name %></td>
              <td><%= new Date(row.event_date).toLocaleDateString('en-US') %></td> <!-- Format date -->
              <td><%= row.actual_attendance %></td>
              <td><%= row.num_pockets%></td> 
              <td><%= row.num_collars %></td> 
              <td><%= row.num_envelopes %></td>
              <td><%= row.num_vests%></td>
              <td><%= row.num_finished_products%></td>
              <td>
                <form action="/viewCompletedEvent/<%= row.event_id %>" method="GET" style="display:inline;"> <!--value after the slash is a parameter-->
                  <button class="info" type="submit">View</button>
                </form>
              </td>
              <td>
                <form action="/editCompletedEvent/<%= row.event_id %>" method="GET" style="display:inline;">
                  <button class="info" type="submit">Edit</button>
                </form>
              </td>
              <td>
                <form action="/deleteEvent/<%= row.event_id %>" method="POST" style="display:inline;">
                  <button class="info" type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                  </form>
              </td>
            </tr>
            <% } %> <!-- End of event_status condition -->
            <% }) %>
        <% } else { %>
          <tr>
            <td colspan="7">No data available</td>
          </tr>
        <% } %>
      </tbody>
    </table>

  <br>
  <form action="/addCompletedEvent" method="GET" style="margin-left: 30px;">
    <button class="info" type="submit">Add</button>
  </form>


</div>
<br>
  <!--Log out button-->
  <form action="/logout" method="get">
    <button type="submit" style="margin-left: 50px;">Log Out</button>
  </form>

<script>
    function openPage(pageName, elmnt, color) {
        // Hide all tab content by default
        const tabcontent = document.getElementsByClassName('tabcontent');
        for (let i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = 'none';
        }

        // Remove the active state from all tab links
        const tablinks = document.getElementsByClassName('tablink');
        for (let i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = '';
        }

        // Show the current tab, and set its background color
        document.getElementById(pageName).style.display = 'block';
        elmnt.style.backgroundColor = color;
    }

    // Open the default tab on page load
    document.getElementById('defaultOpen').click();
</script>

</body>
</html>
